.header {
    background-color: #ffff00   ;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 20px 20px;
  }
  
 
  
  .header-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header-nav ul li {
    margin: 0 15px;
  }
  
  .header-nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Arial, sans-serif';
  }
  